@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,600');
/*Variables*/
:root{
    --cDominante:#60c5ad;
    --cDominanteHover: #2bbf6e;
    --cLetraDominante:white;
    --tLetraDominante:"Titillium Web",sans-serif;
    --tAnchoNormal:300;
    --tAnchoGrueso:600;
}

body{
    margin:0;
    background-color: var(--cDominante);
    font-family:var(--tLetraDominante) ;
    font-weight: var(--tAnchoNormal);
    color:var(--cLetraDominante);
}
#velo{
    position: fixed;
    left:0;
    top:0;
    width:100%;
    height:100%;
    background-color: var(--cDominante);
    background-image: url('../img/fondo1.jpg');
    background-size: cover;
    background-position: bottom right;
}
nav{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:40px;
    background-color: rgba(0,0,0,.5);
    font-weight: 300;
    font-size: 25px;
    z-index:10;
}
nav .izda{
    display:inline-block;
    padding-left:2em;
}
nav .dcha{
    display:inline-block;
    text-align: right;
    float:right;
    padding-right:2em;
}
header{
    position:absolute;
    top:50%;
    left:0;
    width:100%;
    height:200px;
    margin-top:-100px;
    background-color: var(--cDominante);
    text-align: center;
}
header h1{
    line-height: 100%;
    margin-top:1.5em;
    font-size:3em;
}
#mas{
    position:absolute;
    bottom:40px;
    left:0;
    width:100%;
    height:54px;
    text-align: center;
}
main{
    position:absolute;
    top:100%;
    width:100%;
    left:0;
    background-color: rgba(255,255,255,0.75);
    color:black;
}
#contenido{
    max-width:1024px;
    margin:auto;
}
.cabecera h1{
    text-align: center;
    font-weight: 700;
    font-size:3em;
    margin:1em 0 0 0;
}
.cabecera p{
    font-size:2em;
    margin: 0 0 1em 0;
    text-align: center;
}

.ficha{
    position:relative;
    background-color: white;
    margin-top:3em;
    height:400px;
    width:100%;
}


.descripcion{
    position:absolute;
    width:400px;
    height:100%;
    top:0;
    padding:1em 3em 0 2em;
}
.descripcion .arriba{
    margin:2em 0 0 0;
    font-weight: 700;
}
.descripcion h2{
    color:var(--cDominante);
    font-size:2em;
    font-weight: 700;
    margin:0 0 .5em 0;
}
.descripcion p{
    line-height: 2em;
    margin: 0 0 1em ;
}


.imagen{
    position:absolute;
    top:0;
    width:400px;
    height:100%;
    background-position: center;
    background-size: cover;
}
.imagen:hover{
    width:100%;
    transition: 1s;
}
.i-izda{
    left:0;
}

.descripcion.i-dcha{
    right:auto;
    left:400px;
}
.i-dcha{
    right:0;
}

#instalacion{
    background-image: url(../img/raspberry.png);
}
#servidores{
    background-image: url(../img/apache.png);
}
#sql{
    background-image: url(../img/mysql.png);
}
#costes{
    background-image: url(../img/costes.png);
}

button{
    font-family: var(--tLetraDominante);
    font-size:1.5em;
    color:white;
    background-color: var(--cDominante);
    border:none;
    outline:none;
    border-radius:5px;
    padding:.5em;
    width:100%;
}

button:hover{
    background-color: var(--cDominanteHover);
}


#espacio{
    width:100%;
    height:600px;
}

@media all and (max-width:800px){
    .imagen{
        display:none;
    }
    .descripcion.i-dcha{
        left:0;
    }

}