@import url('https://fonts.googleapis.com/css?family=Titillium+Web:300,600');
:root{
    --cDominante:#60c5ad;
    --cDominanteHover: #2bbf6e;
    --cLetraDominante:white;
    --tLetraDominante:"Titillium Web",sans-serif;
    --tAnchoNormal:300;
    --tAnchoGrueso:600;
}

body{
    background-color: var(--cDominante);
    font-family:var(--tLetraDominante) ;
    font-weight: var(--tAnchoNormal);
    color:var(--cLetraDominante);
    background-image: url('../img/fondo1.jpg');
    background-repeat: repeat;
    margin-left: 15em;
    margin-right: 15em

}
img{
	display:block;
	margin:auto;
	border:1px solid black;
	height:450px; 
	width:500px;
}
h2{
	text-align: center;
}

#small{
	display:block;
	margin:auto;
	border:1px solid black;
	height:70px; 
	width:300px;
}

@media all and (max-width:900px){

	body{
		margin-left:1em;
		margin-right:1em;
	}
    img{
        height:250px; 
		width:300px;
    }


